.callbanner {
  background: url("../../../images/CallBanner.svg") no-repeat;
}
.callbanner-h4 {
  color: #ffffff;
  margin: 10px !important;
  font-weight: bold !important;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  -webkit-text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  -moz-text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
.aboutUs {
  color: #06755d;
  font-weight: bold !important;
}

.becomePsychic {
  color: #ffffff;
  font-weight: bold !important;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
}

.becomePsychic-li {
  color: #ffffff;
  font-size: 20px !important;
}
.contact_rambow_gradient {
  background: linear-gradient(
    #110732 -20%,
    #29abe0 50%,
    #29abe0 60%,
    #1fa178 100%
  );
}
